[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = first project on Github
[access "refs/*"]
	owner = group user/Shailesh Panchal (shailesh-panchal)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Shailesh Panchal (shailesh-panchal)
	label-Verified = -1..+1 group user/Shailesh Panchal (shailesh-panchal)
	push = group user/Shailesh Panchal (shailesh-panchal)
	read = group user/Shailesh Panchal (shailesh-panchal)
	rebase = group user/Shailesh Panchal (shailesh-panchal)
	removeReviewer = group user/Shailesh Panchal (shailesh-panchal)
	submit = group user/Shailesh Panchal (shailesh-panchal)
[access "refs/heads/*"]
	create = group user/Shailesh Panchal (shailesh-panchal)
	push = +force group user/Shailesh Panchal (shailesh-panchal)
	pushMerge = group user/Shailesh Panchal (shailesh-panchal)
	read = group user/Shailesh Panchal (shailesh-panchal)
[access "refs/tags/*"]
	push = group user/Shailesh Panchal (shailesh-panchal)
	push = +force group user/Shailesh Panchal (shailesh-panchal)
